body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f5132; 
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.auth-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.auth-card h2 {
  margin-bottom: 10px;
  color: #0f5132;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background-color: #0f5132;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.auth-card button:hover {
  background-color: #0b3d27;
}

.link-text {
  margin-top: 10px;
}
.link-text a {
  color: #0f5132;
  text-decoration: none;
}
.mood-container {
  background-color: #0f3d2e;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding-top: 80px;
}

.mood-grid {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.mood-btn {
  background-color: #e7f5ee;
  border: none;
  border-radius: 16px;
  padding: 15px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.mood-btn:hover {
  transform: scale(1.05);
}

.mood-btn.active {
  background-color: #2f855a;
  color: white;
}
